body{
    font-family:arial;
    font-size:.8em;
}

input[type=text]{
    padding:0.5em;
    width:20em;
}

input[type=submit]{
    padding:0.4em;
}

#gmap_canvas{
    width:100%;
    height:30em;
}

#map-label,
#address-examples{
    margin:1em 0;
}